<header class="jumbotron">
  <h1 class="text-center">Cadastrar Fotos</h1>
</header>
<main class="container">
  <section class="row">
    <form class="col-sm-6" (ngSubmit)="salvar()">
      <div class="form-group">
        <label>Título</label>
        <input
          name="titulo"
          [(ngModel)]="foto.titulo"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>URL</label>
        <input
          (input)="foto.url = $event.target.value"
          [value]="foto.url"
          class="form-control"
        />
      </div>

      <div class="form-group">
        <label>Descrição</label>
        <textarea
          (input)="foto.descricao = $event.target.value"
          class="form-control"
          >{{ foto.descricao }}</textarea
        >
      </div>

      <button type="submit" class="btn btn-primary">
        Salvar
      </button>

      <a [routerLink]="['']" class="btn btn-default">Voltar</a>
    </form>

    <aside class="col-sm-5">
        <h3 class="text-center">Preview</h3>
        <painel titulo="{{foto.titulo}}">
            <foto url="{{foto.url}}" titulo="{{foto.titulo}}"></foto>
        </painel>
    </aside>
  </section>
</main>
