<header class="jumbotron">
        <h1 class="text-center">{{title}}</h1>
    </header>
    
    <main class="container">
        <div class="row">
            <painel *ngFor="let foto of listaFotos" titulo="{{foto.titulo}}" class="col-md-2">
                <foto titulo="{{foto.titulo}}" url="{{foto.url}}"></foto>
            </painel>
        </div>

        <p class="text-center">Página - 40</p>

<!--
    <foto url="assets/img/bird.jpg" 
            title="Imagem em preto e branco de silueta de uma mulher com um beija-flor próximo à mão."></foto>
    <hr>
    <foto url="assets/img/cat.jpg" 
            title="Imagem em preto e branco de um gato levemente desfocado."></foto>


-->

</main>